// sass --watch input.scss:output.css
// utils & imports ------------------------------------------------------------------------------------------------------------------------------
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400,500,600,700&display=swap');

@mixin bp($class) {
  @if $class == mobile-only {
    @media (max-width: 359px) { @content; }
  }
  
  @else if $class == small-only {
    @media (max-width: 787px) { @content; }
  }

  @else if $class == tablet-only {
    @media (max-width: 1024px) { @content; }
  }

  @else if $class == xs {
    @media (min-width: 360px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 1024px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1280px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1440px) { @content; }
  }

  @else if $class == xxl {
    @media (min-width: 1920px) { @content; }
  }
}

.mobile-only, 
%mobile-only {
  @include bp (xs){ display: none; }
}

.small-only, 
%small-only {
  @include bp (sm) { display: none; }
}

.desktop-only, 
%desktop-only {
  @include bp (small-only) { display: none; }
}

// variables ------------------------------------------------------------------------------------------------------------------------------

$primary-font: 'IBM Plex Mono', monospace;

$black: #000;
$white: #fff;

$gutter: 16px;
$margin: $gutter * 2;
$textSize: 20px;
$headingSize: 24px;

// page styles ------------------------------------------------------------------------------------------------------------------------------

body {
  font-family: $primary-font;
  color: $black;
  font-size: $textSize;
  line-height: 1.33;
  background-image: url('grid.jpg');
  padding: $margin;
  position: relative;
  min-height: 100vh;
  position: relative;
}

a,
button {
  text-decoration: none;
  display: inline-block;
  color: $black;
  font-family: $primary-font;

  &:hover {
    font-weight: 700;
  }
}

.contact {
  font-weight: 700;
  position: absolute;
  bottom: $margin;
  left: $margin;

  a:hover { text-decoration: line-through;}

  @include bp(sm){
    top: $margin;
    right: $margin;
    bottom: unset;
    left: unset;
    text-align: left;
  }
}

.bio {
  font-size: $headingSize;
  @include bp(sm){
    margin-right: 120px;
    max-width: 560px;
  }
}

.info {
  max-width: 50%;
  text-align: right;
  margin-left: auto;
  margin-bottom: $margin;
}

.projects {
  @include bp(sm){
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 512px;
  }

  @include bp(lg){
    left: unset;
    right: $margin;
    transform: none;
    overflow: scroll;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.project {

  &-media,
  &-buttons,
  &-info {
    display: none;
    @include bp(sm){ display: block; }
  }

  &-media {
    @include bp(sm){
      grid-column: 1/-1;
    }
  }

  &-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .slick-track {
      display: flex;
      flex-direction: column;
    }

    .slick-slide { width: 100% !important; }
    .slick-list { padding: 0 !important; }
    .slick-current { 
      button { font-weight: 700; }
    }

    button { 
      text-align: left; 
      font-size: $textSize;
      line-height: 1.33;

      background: none;
      border: none; 
      outline: none;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-top: $gutter * 1.5;

    @include bp(sm){ display: none; }
  }

  &-link,
  &-year {
    font-weight: 700; 
  }

  &-utility {
    margin-bottom: $gutter;
  }
}